body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url('Unknown-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(35, 29, 132);
    margin: 0;
}

.navbar{
    position: sticky;
    top: 0;
    background-image: url('Unknown copy.jpeg');
    padding: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.navbar a{
    color:rgb(35, 29, 132);
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 100px;
    text-align: center;
}

h1{
    text-align: center;
}
h2{
    text-align: center
}
h3{
    text-align: center;
}

header{
    text-align: center;
    padding: auto;
    margin: auto;
}
img{
    width: 300px;
    height: 300px;
   border-radius: 100px;
   padding: 80px;
   margin: auto;
    align-items: center;
}

.section{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-left: 500px;
}
.section img{
    display: flex;
    gap: 20px;
    align-items: left;
    width: 200px;
    height: 200px;
    border-radius: 500px;
    padding: 50px;
    margin-right: 50px;
}
.row{
    background-image: url('Unknown copy.jpeg');
    background-size:contain;
    border-radius: 50px;
}

.help img{
    margin-left: 350px;
    align-items: center;
    padding: auto;
    text-align: center;
    width: 500px;
    height: 300px;
}
section{
     background-color: rgb(215, 238, 250);
     margin: auto;
     padding: auto;
    border-radius: 50px;
}
div{
    margin: auto;
    padding: auto;
} 
p{
    text-align: center;
}
    
footer{
    margin: auto;
    padding: auto;
}

